body{
    font-size: 16px;
    line-height: 1.6;
    color: #270407;
    font-family: 'Noto Sans JP', sans-serif;
    height: 1500px;
}
.logo{
    width: 200px;
    margin: 30px auto;
}
.header__nav{
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(44, 5, 8) 100%);
    /* background-color: rgba(0,0,0,1)0%,rgb(44,5,8)100%; */
}
.header__nav-content{
    display: flex;
    justify-content: center;
}
.header__nav-item{
    border-left: 1px dotted #f1ecec;
}
.header__nav-item:last-child{
    border-right: 1px dotted #f1ecec;
}
.header__nav-link{
    text-decoration: none;
    display: inline-block;
    padding: 12px 60px;
    color: aliceblue;
    font-size: 18px;
}
